* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #f2f2f2;
}

p {
	font-size: 1.1rem;
}

label {
	font-size: .9rem;
}

select {
	width: 30px;
}

option {
	font-size: 0.9rem;
	margin: 2px 0;
}

li {
	list-style-type: none;
	margin: 5px;
}

#header {
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px;
	margin-bottom: 15px;
}

#task {
	background-color: #fff0f0;
	padding: 5px;
}

#submit {
	background-color: black;
	padding: 5px;
	color: white;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.button {
	font-size: 0.5rem;
	padding: 5px;
	margin: 0 2px;
	background-color: black;
	color: white;
}

.card {
	border: 1px solid black;
	margin: 5px 0;
	padding: 3px;
}

.container {
	margin: auto;
	max-width: 90%;
}

.margin-top {
	margin-top: 12px;
}

