* {
	padding: 0;
	margin: 0;
}



body {
	background-color: #f2f2f2;
}

p {
	font-size: 1.7rem;
}

label {
	font-size: .9rem;
}

select {
	width: 30px;
}

option {
	font-size: 0.9rem;
	margin: 2px 0;
}

li {
	list-style-type: none;
	margin: 5px;
}

h2 {
	font-size: 2.2rem;
}

#header {
	background-color: black;
	font-size: 2rem;
	color: white;
	text-align: center;
	padding: 20px;
	margin-bottom: 15px;
}

#task, #submit {
	font-size: 1.5rem;
}

#task {
	background-color: #fff0f0;
	padding: 5px;
}

#submit {
	background-color: black;
	padding: 5px;
	color: white;
}

#input {
	font-size: 1.2rem;
}

.s {
	font-size: 1.7rem;
}

.no-task-li, .no-archive-li {
	font-size: 1.5rem;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.button {
	font-size: 1.1rem;
	padding: 5px;
	margin: 0 4px;
	background-color: black;
	color: white;
}

.card {
	border: 1px solid black;
	margin: 5px 0;
	padding: 3px;
}

.container {
	margin: auto;
	max-width: 90%;
}

.margin-top {
	margin-top: 12px;
}

@media only screen and (min-width: 1200px) {
	.card {
		margin: auto;
		max-width: 1200px;
	}
}